<main>
    <section id="seccionPrincipal">
        <!-- <div>
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </div>
        <div>
            <span class="material-symbols-outlined">
                arrow_forward_ios
            </span>
        </div> -->
    </section>
    <section id="seccionInformativa">
        <div>
            <h3>ENVIAMOS TU COMPRA</h3>
            <p>Entregas a todo el país</p>
        </div>
        <div>
            <h3>PAGÁ COMO QUIERAS</h3>
            <p>Tarjetas de crédito o débito</p>
        </div>
        <div>
            <h3>ESTÁS PROTEGIDO</h3>
            <p>Tus datos están resguardados</p>
        </div>
    </section>
    <section id="seccionFinal">
        <h2>Comienza a vivir tu experiencia Barté</h2>
        <p>Disfrutá de tus tragos favoritos, en tu casa, en la de tu amigo, en la de tu pareja o en dónde vos quieras, nosotros no encargamos de que sea posible!</p>
            <button id="discover">
                DESCUBRIR
            </button>
    </section>
</main>
