main {
    background-color: rgb(6, 11, 39);
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 4%;
}

#seccionProductos {
    background-image: linear-gradient(to right, rgb(6, 11, 39) 60%, rgba(217, 13, 122, 0.5) 100%);
    box-shadow: 0 0 10px rgb(217, 13, 122);
    border-radius: 16px;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    border: 1.8px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin: 20px;
}

.imagenProducto, .descripcionProducto {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.descripcionProducto {
    padding: 40px;
    justify-content: space-evenly;
    margin-left: 40px;
}

.imagenProducto img {
    border-radius: 8px;
}

.descripcionProducto h2 {
    color:white;
    font-size: 1.6em;
}

#cantidades {
    display: flex;
    justify-content:start;
    align-items:center;
    gap: 20px;
}

.btn-custom {
    background-color: #6610f2;
    border-color: #6610f2;
    color: white;
}
.btn-custom:hover {
    background-color: #520be0;
    border-color: #520be0;
}

.btn-custom2 {
    background-color: white;
    border-color: white;
    color: #6610f2;
}
.btn-custom2:hover {
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    color: #6610f2;
}